# Projects to ignore
clojure/
cpp/
csharp/
elixir/
erlang/
fsharp/
haskell/
java/
javascript/
lisp/
lua/
objective-c/
ocaml/
perl5/
plsql/
scala/
swift/
*/*/node_modules/*

# Filetypes to ignore
*.pyc
